/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@1&display=swap');

/* Custom Styles */
body{
    font-family: 'IM Fell French Canon', serif;
}

#showcase{
background-image: url(images/header.jpg);
height: 95vh;
background-size: cover;
background-position: center;
color: white;
}